

*::before,
*::after{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}

body{
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

/* Templates */

.logo {
  cursor: pointer;
}

.block {
  border-bottom: 3px solid rgb(225, 225, 225);
}

.block_mode {
  padding: 4rem 1rem 0.1rem 4rem;
  background-color: rgb(24, 151, 193);
  margin-bottom: 0.5rem;

}

.para_template {
  color: #ffffff;
  margin: 0;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-family: 400;
  margin-left: 0.8rem;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 2.6rem;
  padding: 0;
}

.list li {
  background: linear-gradient(#fff, #d8d8d8, #fff, #fff, #c6c6c6);  
  padding: 1.2rem 1.5rem;
  margin-right: 1rem;
  cursor: pointer;

} 
.list li a {
  text-decoration: none;
  color: #0066AA;
  font-size: 1.4rem;
}
li:hover a{
  color: red;
}

li:hover{
  background: white;
}

@media screen and (max-width: 320px)
{
  .block_mode{
    padding: 1rem;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 482px)
{
  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
  }

  .list li a{
    font-size: 1.4rem;
  }
  .list li {
    padding: 1.2rem 0.2rem;
  }

  .list .speacial a{
    font-size: 1.3rem;
  }
}


@media screen and (min-width: 680px)
{
  .list li {
    padding: 1.6rem 3rem;
  }
  .list li a{
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1081px)
{
.list{
  margin-top: -1.5rem;
  margin-bottom: 2.3rem;
}
}


/* HTML CSS Templates */


.block_dark {
  background: #494545;
  color: #f2f2f2;
  padding: 5rem 3rem;
  
  
}
.dark{
  padding: 0.5rem;
}

.h2_heading {
  font-size: 2.4rem;
  font-weight: 400; 
}

.first_para {
  font-size: 1.6rem;
  line-height: 2.5;
}

.second__list {
 padding: 0; 
 line-height: 2;
}

.contac {
  color: rgb(153, 204, 255);
  cursor: pointer;
  transition: color .3s;
}

.second__list a{
  margin-right: 3rem;
  text-decoration: none;
  color: rgb(153, 204, 255);
  font-size: 1.6rem;
  transition: all .3s;
}

.second__list a:hover,
.contac:hover{
  color: rgb(247, 247, 55);
  text-decoration: underline;
}

.all_btn {
  margin-top: 2rem;
  margin-bottom: 1.6rem;
}

.all_btn .btn{
  margin: 1rem;
  background: linear-gradient(#626466, #303132);
  color: #f3f3f3;
  font-size: 1.6rem;
  padding: 1.6rem 3rem;
  border-radius: 7px;
  border-right: 0;
  border-top : 2px solid gray;
  border-bottom: 1px solid black;
  box-shadow: -1px -1px 1px #999;
  cursor: pointer;
  transition: all .2s;
}

.all_btn .btn:hover {
  background: linear-gradient(#303132, #626466);
  color: rgb(247, 247, 55);
}

@media screen and (min-width: 680px)
{
  .h2_heading{
    font-size: 3rem;
  }
}


@media screen and (min-width: 1040px)
{
  .dark{
    border: 3px solid rgb(215, 210, 210);
    margin: 5rem 4rem;
    border-radius: 7px;
  }
  .h2_heading{
    font-size: 4rem;
  }
  .first_para{
    width: 800px;
  }

  .para2{
    margin: 0;
  }
  .block_dark{
    padding: 2.5rem 9rem;
  }
  .btn{
    margin: 0;
    margin-right: 1.8rem;
    margin-bottom: 2.5rem;
  }
}

h1,h2,h3{
  font-family: Raleway, Arial, Helvetica, sans-serif;
}


/* Images container */

.section_container{
  margin-top: 6rem;
}

.section_container .grid__1x2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
}

.section_container {
  padding: 0 2rem;
}

.tm_img{
  width: 100%;
  cursor: pointer;
}


.block_white .h3_heading {
  font-size: 1.6rem;
  color: #0066AA;
  margin-left: 8rem;
  font-weight: 400;
  cursor: pointer;
  transition: all .2s;
  text-decoration: none;
}

.h3_heading:hover{
  color: rgba(255, 1, 52, 0.87);
  text-decoration: underline;
}

.para3{
  font-size: 1.4rem;
  font-weight: 400;
  opacity: 0.9;
  color: rgb(61, 59, 59);
  margin-left: 2rem;
  line-height: 1.6;
}

.block_white {
  border-bottom: 3px solid #e1e1e1;
  background: #f0f0f0;
  padding: 1rem;
  border-bottom-right-radius: 25px;
}

@media screen and (min-width: 1px) and (max-width: 767px)
{
  .block_white .h3_heading{
    font-size: 1.4rem;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1139px)
{
  .section_container .grid__1x3{
    grid-template-columns: repeat(3, 1fr);
  }

  .section_container {
    padding: 0 3rem;
  }
  .block_white .h3_heading{
    font-size: 1.5rem;
  }
  
}

@media screen and (min-width: 1140px)
{
  .section_container .grid__1x4{
    grid-template-columns: repeat(4, 1fr);
    gap: 4.4rem 2.8rem;
  }

  .section_container {
    padding: 0 4rem;
  }

  .para3{
    line-height: 2;
    padding-bottom: 1.2rem;
  }

  .block_white .heding1{
    font-size: 5rem;
    color: red;
  }

}

/* second button */


.second-btn{
  margin: 2rem 3.8rem;
  text-align: right;
  margin-bottom: 3rem;
}

.btn2 {
  padding: 1.6rem 6.5rem;
  font-size: 1.6rem;
  cursor: pointer;
  border: 1.5px solid #dddddd;
  border-bottom-right-radius: 20px;
  background: (242, 242, 242);
  color: #0066AA;
  transition: all .2s;
}

.btn2:hover{
  background: rgb(220, 220, 220);
  color: rgb(61, 59, 59);
}


/* Free Templates */

.section1 {
  padding: 0 2.5rem;
}

.heding1 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #009900;
}

.section_para {
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(100, 97, 97);
    line-height: 2;
    margin: 0;
    max-width: 800px;
}

.css_temp {
  color: #0066AA;
  cursor: pointer;
}

.css_temp:hover{
  color: rgb(224, 22, 63);
  text-decoration: underline;
}


@media screen and (min-width: 768px)
{
  .section1 {
    padding: 0.5rem 4rem;
  }

  .heding1 {
    font-size: 2.8rem;
  }

}



.numm{
  font-size: 2rem;
  color: #514a4a;
}

.para_share{
  margin: 0;
  margin-left: 1rem;
  color: #514a4a;
}

/* all buttons */

.all_btn3 {
  margin: 5rem;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.ancher1 {
  margin-right: 5rem;
  margin-left: 0.4rem;
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
}

.btn4{
  
}

.btn3, .btn4, .btn5 {
  padding: 1rem 1.3rem;
  padding-right: 4rem;
  padding-left: 6rem;
  font-size: 1.2rem;
  background: rgb(59, 122, 185);
  color: white;
  border: 0;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.btn4{
  background: #000000;
}

.btn5 {
  background: rgb(38, 141, 244)
}

.btn6{
  background: rgb(211, 23, 23);
}

.btn7 {
  background: gray;
}

.btn8 {
  background: rgb(115, 215, 115);
}

.facebook, .twitter, .messenger, .sharethis{
  position: absolute;
  left: 15px;  
}

.twitter{ 
  bottom: 8px;
  width: 18px;
}

.sharethis{
  left: 35px;
}

.btn3{
  transition: transform .3s ease-out;
}

.btn3:hover{
  opacity: 0.8;
  transform: translateY(-5px);
}

@media screen and (max-width: 400px)
{
  .num_share{
    position: relative;
    bottom: 40px;
    left: 40px;
  }
}

@media screen and (max-width: 480px)
{
  .num1 {
    opacity: 0;
  }
  .all_btn3{
    column-gap: 0.5rem;
    /* display: block; */
  }

  .btn3{
    padding-right: 0;
    padding-left: 3rem;
  }


  /* .num_share{
    display: block;
    margin-bottom: 1.5rem;
  } */

}

@media screen and (max-width: 500px)
{
  .num2{
    opacity: 0;
  }

  .btn4{
    padding-right: 0rem;
    padding-left: 3rem;
  }
}

@media screen and (max-width: 620px)
{
  .num3{
    opacity: 0;
  }

  .btn5{
    padding-right: 0;
    padding-left: 3rem;
  }
}

@media screen and (max-width: 700px)
{
  .num4{
    opacity: 0;
  }

  .btn6{
    padding-right: 0;
    padding-left: 3rem;
  }
}

@media screen and (max-width: 760px)
{
  .num5{
    opacity: 0;
  }
  .btn7{
    padding-right: 0;
    padding-left: 3rem;
  }
}

@media screen and (max-width: 830px)
{
  /* .num6{
    opacity: 0;
  } */
  .btn8{
    padding-right: 2rem;
    padding-left: 3rem;
  }

  .sharethis{
    left: 15px;
  }
}


/* copyright */
/* body{
  padding-bottom: 1000px;
} */

.foot{
  margin-bottom: 12rem;
  margin-top: 6rem;
}

.copy_right{
  margin: 3rem 0 5rem 0;
  font-size: 1.4rem;
  background: #0066aa;
  color: #ffffff;
  padding: 2.3rem;
  text-align: center;
}

.foot .under{
  cursor: pointer;
}

.foot .under:hover{
  text-decoration: underline;
}

@media screen and (max-width: 584px)
{
  .foot .copy_right{
    line-height: 2;
    font-size: 1.5rem;
  }
}
